# Supabase - copie para .env e preencha com suas credenciais
# Obtenha em: https://supabase.com/dashboard/project/_/settings/api

SUPABASE_URL=https://mkckwlosxunrcvhjadvi.supabase.co
SUPABASE_SERVICE_KEY=sb_publishable_yUWtmj750C00vgzPDH62oA_dd7EgGzb


# Porta do servidor (opcional)
PORT=3000
